
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$covid19tracker-primary: mat-palette($mat-indigo);
$covid19tracker-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$covid19tracker-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$covid19tracker-theme: mat-light-theme($covid19tracker-primary, $covid19tracker-accent, $covid19tracker-warn);

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($covid19tracker-theme);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

// Create a config with the default typography levels.
$config: mat-typography-config();

// Custom header that uses only the Material `font-size` and `font-family`.
.unicorn-header {
  font-family: mat-font-family($config);
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 130px;
}

// Custom title that uses all of the typography styles from the `title` level.
.unicorn-title {
  @include mat-typography-level-to-styles($config, title);
}
